<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='lay.css')}}" >
  <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}" >
  <link rel="stylesheet" href="{{url_for('static', filename='media_queries.css')}}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Layout</title>
</head>
<body>

  <header class="header">
    <a href="{{url_for('home')}}">Voltar</a>
    <i class="fa-solid fa-computer"></i>
    <i class="fa-solid fa-mobile"></i>
  </header>


  <section class="main">
  <div class="parent">
  <div class="layout">
    <img src="" alt="" class="image_test"> <!--classe de teste-->
  </div>
  
  <article class="about_layout">
    Exemplo
  <button class="btn">Obter</button>
  <a target="_blank" href="#" class="view_demo">Ver site de demonstração</a>
  </article>
  </div>
  </section>


  <footer class="footer">
    <p>© 2024 Website Criativo. Todos os direitos reservados.</p>
  </footer>

</body>
</html>